/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

body {
  overflow: hidden;
}

#map {
  height: 94vh;
  width: 80%;
  float: left;
}

#sidebar {
  height: 94vh;
  width: 20%;

  float: left;
  background: #eee;

  overflow: auto;
}

#topDiv {
  height: 6vh;
  width: 100%;
  background: #eee;
}

#header_logo {
  height: 6vh;
  float: left;
}

#menu {
  height: 6vh;
  width: 20%;
  float: right;
  border-bottom: 1px solid #bbb;
}

.fade li {
  transition: all 0.8s ease-out;
  opacity: 0;
}

.fade li.show {
  opacity: 1;
}

#ordersList {
  padding: 20px;
  height: 100%;
}

.orderElement {
  /*
  margin-top: 2rem;
  */
  padding-bottom: 5px;
  padding-top: 5px;

  font-family: "Lato Light";
  padding-right: 1rem;
  padding-left: 1rem;
  list-style-type: none;
  border-bottom: 1px solid #aaa;
  color: #666;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
